<div class="contenedor-principal">
    <div class="contenedor-secundario">
        <img class="img" src="../../assets/logo.png" alt="">
        <h1>Analizador de Comentarios de YouTube</h1>
        <p>Bienvenido a nuestra aplicación de scrapping de comentarios de YouTube. Aquí puedes explorar y analizar comentarios de videos en YouTube de una manera sencilla y eficiente.</p>
        <h2>¿Cómo deseas obtener los comentarios?</h2>
        <div class="contenedor-botones">
            <button id="btn1" routerLink="/con-enlaces">Scrapear por Enlaces</button>
            <button id="btn2" routerLink="/por-tema">Scrapear por Tema de Búsqueda</button>
        </div>
    </div>
</div>