<div class="contenedor-principal">
    <div class="contenedor-secundario">
        <img class="img" src="../../assets/logo.png" alt="Logo">
        <h1>Analizador de Comentarios de YouTube</h1>
        <p>Bienvenido a nuestra herramienta de análisis de comentarios de YouTube. Explora y analiza los comentarios de los videos de YouTube de manera sencilla y eficaz.</p>
        <h2>¿Cómo te gustaría realizar el análisis?</h2>
        <div class="contenedor-botones">
            <button id="btn1" routerLink="/con-enlaces">Análisis por Enlaces del Video</button>
            <button id="btn2" routerLink="/por-tema">Análisis por Tema de Búsqueda</button>
        </div>
    </div>
</div>